@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @media (prefers-color-scheme: light) {
      --neutral: #f4faff;
      --primary: theme("colors.sky.500");
      --contrast: 255 255 255;
      --on-neutral: theme("colors.sky.900");
      --on-primary: theme("colors.white");
    }
    @media (prefers-color-scheme: dark) {
      --neutral: #f4faff;
      --primary: theme("colors.sky.600");
      --contrast: 255 255 255;
      --on-neutral: theme("colors.sky.900");
      --on-primary: theme("colors.white");
    }
  }
}
