@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
  --font-FILL-0: 0;
  --font-FILL-1: 1;
  --font-wght: 400;
  --font-GRAD: 0;
  --font-opsz: 24;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" var(--font-FILL-0),
    "wght" var(--font-wght),
    "GRAD" var(--font-GRAD),
    "opsz" var(--font-opsz);
}

.material-symbols-outlined.fill {
  font-variation-settings:
    "FILL" var(--font-FILL-1),
    "wght" var(--font-wght),
    "GRAD" var(--font-GRAD),
    "opsz" var(--font-opsz);
}
